@model int


<div class="container row pt-4">
    <div>
        <h1 class="text-primary text-center">Order placed Successfully</h1>
        Your Order Number is: @Model <br /><br />
        <img src="~/IMGs/imgproduct/natureCart.png" width="20%" />

    </div>
    <div class="col-12 text-center" style="color:orangered">
        <br />
        Your order has been placed sucessfully<br />
    </div>
</div>
