@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-4">
    <div class="text-center mb-4" style="background-color: black; padding: 20px; border-radius: 5px;">
        <h1 class="display-3" style="color: #ffc107; font-weight: bold;">About Us</h1>
    </div>
    <div style="padding: 20px; border-radius: 5px;">
        <p>
            Welcome to Oriental Oasis. This website is purely for educational purposes, designed to allow users to explore a variety of features in the web to browse Asian decor and art pieces. Users can browse the product collection and simulate placing orders to understand the process.
        </p>
        <p>
            <strong>Educational Purpose:</strong> Oriental Oasis is a learning experience for me as a developer who is learning about C# in web development MVC. Users can explore different products, learn about their origins, and understand the nuances of e-commerce.
        </p>
        <p>
            <strong>Order Simulation:</strong> While you can place orders on this site, please note that these are simulations for educational purposes only. No real transactions occur, and no real products are shipped. Please do not place orders with real credit or identity information.
        </p>
        <p>
            <strong>Contact Us:</strong> If you have any questions about the web, feel free to reach out to at:
        </p>
        <p>
            Rachael Savage<br>
            Email: rac.p.sav@gmail.com
        </p>
    </div>
</div>

